<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/cartpage.css">
</head>

<body>
    {{>webnavbar}}
    {{>webheader}}
    {{>websearch}}
    <div class="cart-head">
        <h1>MY CART</h1>
    </div>
    <div class="full-payment">
        <section class="cart-checks">

        </section>
        <section class="final-payment">
            <div class="checkout-head">
                <h2>CHECKOUT</h2>
            </div>
            <div class="mrp">
                <div class="pro-title">MRP:</div>
                <div class="amount" id="mrp">Rs. 0</div>
            </div>
            <div class="mrp">
                <span class="pro-title">DISCOUNT:</span>
                <span class="amount" id="discount">Rs. 0</span>
            </div>
            <div class="mrp">
                <span class="pro-title">DELIVERY CHARGES:</span>
                <span class="amount">Rs. 0</span>
            </div>
            <div class="mrp">
                <span class="pro-title">TOTAL AMOUNT:</span>
                <span class="amount final-amount">Rs. 0</span>
            </div>
            <button class="proceed-payment" onclick="proceedtopay()">PROCEED TO PAYMENT</button>
        </section>
    </div>
    {{>webfooter}}
    <!-- Mobile Html  -->
    {{>mobileheader}}
    {{>mobilenavbar}}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
{{!-- <script src="/javascript/homepage.js"></script> --}}
<script src="/utils/mobilesearchbar.js"></script>
<script src="/javascript/cart.js"></script>
<script src="/utils/mobilesearchdropdown.js"></script>
<script src="/utils/signout.js"></script>   
</html>