<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body>
    <form action="https://home-store-1.herokuapp.com/product/610aea0f7e15441d973b0f1a/images" method="post" enctype="multipart/form-data">
        <input type="file" name="multi-images" multiple accept="image/*">
        <input type="submit" value="Submit">
    </form>
</body>
    <script>
        async function uploadImage(){
            const response=await 
        }
    </script>
</html>