<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/productpage.css">
    <title>Product Page</title>
</head>

<body>
    {{>webnavbar}}
    {{>webheader}}
    {{>websearch}}
    <div class="main-product loader-view">
        {{>loader}}
    </div>
    
    {{>webmostviewed}}
    {{>webmostviewed}}
    <div class="title">
        <h3>RECOMMENDED &nbsp;FOR&nbsp; YOU</h3>
    </div>
    <section id="mobile-most-viewed">
        <div class="mobile-most-viewed-scroll">
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>

            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
        </div>
    </section>
    <div class="title">
        <h3>OFTEN &nbsp;BOUGHT &nbsp;TOGETHER</h3>
    </div>
    <section id="mobile-most-viewed">
        <div class="mobile-most-viewed-scroll">
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>

            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
            <div class="mobile-most-viewed-card">
                <img src="https://unsplash.it/50/50" alt="">
                <div class="mobile-most-viewed-card-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, reiciendis?</p>
                </div>
            </div>
        </div>
    </section>
    {{>webfooter}}
    <!-- Mobile Html  -->
    <header id="mobile-header">
        <div id="nav-hamburger">
            <div id="hamburger" onclick="showmobilenav()"></div>
        </div>
        <div id="title">
            <p>FLIPKART</p>
        </div>
        <div id="cart">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
        <div id="search">
            <ion-icon name="search"></ion-icon>
            <input type="text" id="searchbar" placeholder="search product">
        </div>
    </header>
    <div class="mobile-navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
    </div>
    <div id="stars-div">
        <ion-icon name="star" onmouseover='giveStarRating(this)' onmouseout ='takeStarRating(this)' onclick="postStarRating(this)" id="star1"></ion-icon>
        <ion-icon name="star" onmouseover='giveStarRating(this)' onmouseout ='takeStarRating(this)' onclick="postStarRating(this)" id="star2"></ion-icon>
        <ion-icon name="star" onmouseover='giveStarRating(this)' onmouseout ='takeStarRating(this)' onclick="postStarRating(this)" id="star3"></ion-icon>
        <ion-icon name="star" onmouseover='giveStarRating(this)' onmouseout ='takeStarRating(this)' onclick="postStarRating(this)" id="star4"></ion-icon>
        <ion-icon name="star" onmouseover='giveStarRating(this)' onmouseout ='takeStarRating(this)' onclick="postStarRating(this)" id="star5"></ion-icon>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


<script src="/javascript/productpage.js"></script>
</html>