<header id="mobile-header">
        <div id="nav-hamburger">
            <div id="hamburger" onclick="showmobilenav()"></div>
        </div>
        <div id="title">
            <p>FLIPKART</p>
        </div>
        <div id="cart">
            <ion-icon name="cart-outline" onclick="goToCart()"></ion-icon>
        </div>
        <div id="search">
            <ion-icon name="search"></ion-icon>
            <input type="text"  id="mobile-searchbar" onclick="expandMobileSearch()" onkeyup="mobilesearchresult()"
                 placeholder="search product">
        </div>
</header>