<div class="mobile-search-dropdown">
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
        <div class="mobile-recommandation"></div>
    </div>