<div class="mobile-navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">Help</a></li>
            {{#if check}}
                <li><a href="#" onclick="signout()">Sign Out</a></li>
            {{else}}
                <li><a href="users/login ">Log In</a></li>
            {{/if}}
        </ul>
    </div>