<footer class="web-footer">
        <div>
            <p class="footer-title">CONTACTUS</p>
            <p>+91 9879169806</p>
            <p>homestore@mail.com</p>
            <p>Find a store</p>
        </div>
        <div>
            <p class="footer-title">BILLING</p>
            <p>Taxes</p>
            <p>Payment Methods</p>
            <p>Shipping Charges</p>
        </div>
        <div>
            <p class="footer-title">CUSTOMER SERVICE</p>
            <p>Contact Us</p>
            <p>Ordering & Payment</p>
            <p>Shipping</p>
            <p>Returns</p>
            <p>FAQ</p>
        </div>
        <div>
            <p class="footer-title">INFORMATION</p>
            <p>About Homestore</p>
            <p>Work With Us</p>
            <p>Privacy Policy</p>
            <p>Terms & Conditions</p>
            <p>Press Enquiries</p>
        </div>
        <div>
            <p class="footer-title">Subscribe to Flipkart via Email</p>
            <input type="text" id="subscribe-email" placeholder="Email Address">
            <br>
            <button id="subscribe-btn">SUBSCRIBE</button>
        </div>
        <div class="footer-logo">
            <ion-icon name="logo-amazon"></ion-icon>
        </div>
    </footer>