<header id="web-header">
        <div class="logo">
            <ion-icon name="logo-amazon"></ion-icon>
        </div>
        <div class="name">
            <p>FLIPKART</p>
        </div>
        <div class="searchbar"><input type="text" name="" id="searchbar" onkeyup="searchresult()" onclick="expandSearchBar(this)"
                onblur="minimizeSearchBar(this)">
            <ion-icon onclick="executeSearch()"  id="searchresult" name="search-circle"></ion-icon>
        </div>
</header>