<section class="web-most-viewed">
        <h2>MOST &nbsp VIEWED</h2>
        <div class="card-scroll">
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit beatae earum rem
                    ducimus ipsa distinctio nostrum necessitatibus atque dignissimos.</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>

        </div>
    </section>
    <section class="web-most-viewed">
        <h2>MOST &nbsp RATED</h2>
        <div class="card-scroll">
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit beatae earum rem
                    ducimus ipsa distinctio nostrum necessitatibus atque dignissimos.</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
            <div class="viewed-card">
                <img src="https://unsplash.it/200/200" alt="">
                <p>Anything</p>
                <button>View Product</button>
            </div>
        </div>
    </section>