<nav id="web-nav">
        <ul id="list">
            <li class="active" onmouseover="changeactive(this)"><a href='https://home-store-1.herokuapp.com/'>
                    <span class="logo">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                </a></li>
            <li onmouseover="changeactive(this)"><a href='#'>
                    <span class="logo">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                </a></li>
            <li onmouseover="changeactive(this)"><a href='https://home-store-1.herokuapp.com/cart'>
                    <span class="logo">
                        <ion-icon name="cart-outline"></ion-icon>
                    </span>
                </a></li>
            <li onmouseover="changeactive(this)"><a href='#'>
                    <span class="logo">
                        <ion-icon name="card-outline"></ion-icon>
                    </span>
                </a></li>
            <li onmouseover="changeactive(this)"><a href='#'>
                    <span class="logo">
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </span>
                </a></li>
            <li onmouseover="changeactive(this)"><a onclick="signout()">
                    <span class="logo">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                </a></li>
        </ul>
    </nav>