.product_description{
    height: 500px;
    margin:80px 0px 20px 0px;
    width: calc(100% - 4.7%);
    transform: translateX(4.9%);
    
    display: flex;
}
.product_description .left_description{
    width: 40%;
    height: 100%;
    
}
.capitalize{
    text-transform:capitalize;
}
.product_description .right_description{
    width: 60%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}
.product_description .right_description .product_title{
    margin: 20px;
}
.product_description .right_description .product_title h2{
    font-weight: 500;
    letter-spacing: 1.5px;
}
.product_ratings{
    /* height: 50px; */
    width: 50%;
    
    margin: 10px 20px;
    display: flex;
}
.product_ratings .product_stars{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_ratings .product_stars .product_main_star{
    background-color: greenyellow;
    height: 70%;
    width: 80%;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_ratings .product_stars .product_main_star .product_exact_rating{
    margin-right: 5px;
    margin-bottom: 2px;
    /* font-size: 0.3em; */
}
.product_ratings .product_star_text{
    width: 80%;    
}
.product_ratings .product_star_text h2{
    font-weight: 100;
    letter-spacing: 1.5px;
    margin: 10px 5px;
    font-size: 1em;
}
.product_price{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 30px;
}
.product_offers{
    margin: 20px 0px;
}
.product_offers h3{
    font-weight: 300;
}
.product_offers .available_offers{
    border: 1px solid black;
    height: 150px;
    overflow-y: scroll;
}
/* .product_offers .available_offers .available_offers_scroll{
    display: flex;
    flex-direction: column;
} */
.product_offers .available_offers .available_offers_scroll .bank_offers{
    margin: 10px;
}
.product_full_info{
    width: calc(100% - 4.7%);
    transform: translateX(4.9%);
    /* border: 1px solid black;   */
}
.product_full_info p{
    margin: 20px 30px;
}
.product_full_info h2{
    font-weight: 500;
    margin: 0px 30px;
}
.product_full_info .all_info{
    display: flex;
    height: 600px;
    width: 100%;
    margin: 30px 0px;
    align-items: center;
    justify-content: space-evenly;
}
.product_full_info .all_info .all_info_content{
    display: grid;
    height: 100%;
    width: 30%;
    background-color: lightgrey;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    /* border: 1px solid black; */
}
.product_full_info .all_info .all_info_content .full_content{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer_review{
    width: calc(100% - 4.7%);
    transform: translateX(4.9%);
    border-top: 1px solid black;  
}
.customer_review .overall_review{
    position: relative;
    /* height: 300px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
.customer_review .overall_review .give_rating{
    position:absolute;
    width: 50%;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    height:70%;
    right:10%;
    top:57%;
    transform: translateY(-50%);
}
.customer_review .overall_review .give_rating #stars-div ion-icon{
    color:lightgray;
    width:30px;
    height: 30px;
}
.customer_review .overall_review .give_rating #stars-div{
    width:max-content;
    margin: auto;
}
.customer_review .overall_review .give_rating textarea{
    padding:5px 10px;
    background-color:lightgray;
    resize:none;
    width:90%;
    height:60%;
    margin-left: 5%;
}
.customer_review .overall_review .give_rating button{
    display:block;
    margin: auto;
}
.customer_review .overall_review .overall_review_header{
    display: flex;
}
.customer_review .overall_review .overall_review_header .with_h1{
    width: 80%;
    /* border: 1px solid firebrick; */
}
.customer_review .overall_review .overall_review_header .with_h1 h1{
    font-weight: 400;
    margin: 25px;
}
.customer_review .overall_review .overall_review_header .with_btn{
    width: 20%;
    /* border: 1px solid darkgoldenrod; */
    text-align: center;
    margin: 20px;
}
button{
    background-color: darkgray;
    padding: 5px;
    border-radius: 0.4em;
    margin-top: 5px;
}
.customer_review .overall_review .overall_review_content{
    display: flex;
    /* height: 500px; */
    padding-bottom: 30px;
}
.customer_review .overall_review .overall_review_content .big_rating{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid violet; */
}
.customer_review .overall_review .overall_review_content .rating_stats{
    width: 50%;
    opacity: 1;
    transition: 0.5s;
    pointer-events: none;
    /* border: 1px solid saddlebrown; */
    display: flex;
    justify-content: center;
}
.customer_review .overall_review .overall_review_content .big_rating .numbers{
    display: flex;
    align-items: center;
    font-size: 3em;
}
.customer_review .overall_review .overall_review_content .big_rating .numbers .rated{
    margin: 5px 5px 5px 30px;
}
.customer_review .overall_review .overall_review_content .big_rating .text{
    font-weight: 400;
    font-size: 1.5em;
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box{
    width: 75%;
    display: flex;
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box ul{
    list-style: none;
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_number{
    width: 15%;
    text-align: center;
}
/* .customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_number .stat_holder .star ion-icon{
    size: 0.5em;
} */
.customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_user{
    width: 15%;
    text-align: center;
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_user li{
    margin-top: 2px;
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_bar{
    width: 70%;
    /* line-height: 1px; */
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_bar .down_bar{
    width: 100%;
    height: 6px;
    background-color: lightgrey;
    border-radius: 50px;
    margin: 12px 0px;
}
.customer_review .overall_review .overall_review_content .rating_stats .stats_box .stat_bar .upp_bar{
    width: 50%;
    height: 6px;
    background-color: green;
    border-radius: 50px;
    margin: 12px 0px;
}
.customer_review .all_reviews .full_review{
    margin-left: 30px;
    /* height: 120px; */
    width: 95.5%;
    padding: 20px;
    border: 1px solid black;
}
.customer_review .all_reviews .full_review .product_stars .product_main_star{
    background-color: #388e3c;
    height: 70%;
    width: 7%;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stat_box2{
    width: 80%;
}
.stat_box2 .full_bar{
    display: flex;
    align-items: center;
    width: 100%;
}
.stat_box2 .full_bar .bar12{
    width: 70%;
}
.customer_review .overall_review .overall_review_content .rating_stats .stat_box2 .full_bar .down_bar{
    width: 100%;
    height: 6px;
    background-color: lightgrey;
    border-radius: 50px;
    margin: 12px 0px;
}
.stat_box2 .full_bar .bar12 .down_bar .upp_bar{
    width: 50%;
    height: 6px;
    background-color: #388e3c;
    border-radius: 50px;
    margin: 12px 0px;
}
.customer_review .overall_review .overall_review_content .rating_stats {
    width: 62%;
}
.product_image{
    width: 100%;
    height: 90%;
    /* background-color: black; */
}
.product_image .main_image{
    width: 100%;
    height: 80%;
    /* border-bottom:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.product_image .main_image img{
    width: 300px;

    height: 300px;
}
.product_image .main_image #prev_img{
    position: absolute;
    cursor: pointer;
    top:50%;
    left: 10%;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
}
.product_image .main_image  ion-icon{
    height: 50px;
    width: 50px;
}
.product_image .main_image #next_img{
    position: absolute;
    cursor: pointer;
    top:50%;
    right: 10%;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
}
.product_image .all_image{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.product_image .all_image img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
} 
.buy_button{
    width:100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buy_button button{
    cursor: pointer;
    width: 30%;
    height: 80%;
    background-color: transparent;
    font-size: 1.35rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:699px){
    .product_description{
        height: max-content;
        margin:100px 0px 0px 0px;
        width: 100%;
        transform: translateX(0px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product_description .right_description {
        width: 100%;
        flex-direction: column;
    }
    .product_full_info{
        width: 100%;
        margin: 30px 0px 30px 0px;
        border: 1px solid black;  
        transform: translateX(0px);
    }
    .product_full_info h2 {
        margin-left: 10px;
    }
    .product_full_info p {
        margin: 20px 10px;
    }
    .product_offers h3 {
        margin-left: 10px;
    }
    .product_ratings {
        margin: 0px 0px 0px 20px;
        width: 80%;
    }
    .product_price {
        margin: 10px 0px 10px 20px;
    }
    .customer_review{
        width: 100%;
        margin-bottom: 30px;
        border-top: 1px solid black;  
        transform: translateX(0px);
    }
    .customer_review .all_reviews .full_review {
        margin-left: 0px;
        /* height: 120px; */
        width: 100%;
        padding: 1em;
        border: 1px solid black;
    }
    .product_full_info .all_info .all_info_content {
        width: 44%;
    }
    .customer_review .overall_review .overall_review_header .with_h1 h1 {
        margin: 10px;
    }
    .customer_review .overall_review .overall_review_header .with_h1{
        width: 70%;
    }
    button {
        background-color: darkgray;
        padding: 5px;
        border-radius: 0.4em;
        margin-top: 10px;
    }
    .customer_review .overall_review .overall_review_header .with_btn {
        margin: 0px;
        width: 30%;
    }
    .customer_review .overall_review .overall_review_content .big_rating .text{
        text-align: center;
    }
    .customer_review .all_reviews .full_review .product_stars .product_main_star {
        width: 13%;
    }
    .product_full_info .all_info .all_info_content .full_content {
        font-size: 0.7em;
    }
    .stat_box2{
        border: 1px solid black;
        width: 80%;
    }
    .stat_box2 .full_bar{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .stat_box2 .full_bar .bar12{
        width: 70%;
    }
    .customer_review .overall_review .overall_review_content .rating_stats .stat_box2 .full_bar .down_bar{
        width: 100%;
        height: 6px;
        background-color: lightgrey;
        border-radius: 50px;
        margin: 12px 0px;
    }
    .stat_box2 .full_bar .bar12 .down_bar .upp_bar{
        width: 50%;
        height: 6px;
        background-color: green;
        border-radius: 50px;
        margin: 12px 0px;
    }
    .customer_review .overall_review .overall_review_content .rating_stats {
        width: 62%;
    }
}
@media (max-width:502px){
    .customer_review .overall_review .overall_review_content .big_rating .numbers .rated {
        font-size: 2rem;
        margin: 0px;
    }
    .customer_review .overall_review .overall_review_content .big_rating .numbers .star ion-icon{
        height: 0.8em;
    }
}
.loader-view{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}